<footer id="copyright">
  <a href="/" class="logo"></a>

  <nav>
    <a href="#">About</a>
    <a href="#">FAQ</a>
    <a href="#">Help Us</a>
    <a href="#">Team</a>
    <a href="#">Terms</a>
    <a href="#">Contact</a>
  </nav>

  <a href="https://davehakkens.nl" target="_blank" class="by">A project by Dave Hakkens</a>

  <div class="social">
    <a href="https://facebook.com"></a>
    <a href="https://twitter"></a>
    <a href="https://youtube.com"></a>
    <a href="mailto:test@test.com"></a>
  </div>
</footer>
