<footer id="copyright">
  <a href="{{baseURL}}/" class="logo"></a>

  <nav>
    <a href="{{baseURL}}/about">About</a>
    <a href="{{baseURL}}/faq">FAQ</a>
    <a href="{{baseURL}}/help-us">Help Us</a>
    <a href="{{baseURL}}/thanks">Thanks</a>
    <a href="{{baseURL}}/terms">Terms</a>
    <a href="{{baseURL}}/contact">Contact</a>
  </nav>

  <a href="https://davehakkens.nl" target="_blank" class="by">A project by Dave Hakkens</a>

  <div class="social">
    <a href="https://facebook.com"></a>
    <a href="https://twitter"></a>
    <a href="https://youtube.com"></a>
    <a href="mailto:test@test.com"></a>
  </div>
</footer>
