<footer id="copyright">
  <a href="/{{page.lang}}/" class="logo"></a>

  <div id="overlayf">
  <a href="#" class="close">
    Close
  </a>

  <section>
    <figure class="otherby">
      <a target="_blank" href="https://davehakkens.nl">
        <img src="/assets/images/otherby.gif" />
      </a>
    </figure>

    <nav class="external">
      <a href="#">
        <img src="/assets/images/phonebloks.gif" />
      </a>
      <a target="_blank" href="https://preciousplastic.com">
        <img src="/assets/images/preciousplastic.gif" />
      </a>
      <a href="https://story-hopper.com">
        <img src="/assets/images/storyhopper.gif" />
      </a>
    </nav>

    <nav class="overlayf-social">
      <a target="_blank" href="http://www.facebook.com/davehakkens">
        <img src="/assets/images/social_icon_facebook.gif" />
      </a>
      <a target="_blank" href="http://www.instagram.com/davehakkens">
        <img src="/assets/images/social_icon_instagram.gif" />
      </a>
      <a target="_blank" href="http://www.twitter.com/davehakkens">
        <img src="/assets/images/social_icon_twitter.gif" />
      </a>
      <a target="_blank" href="https://davehakkens.nl/mailinglist/">
        <img src="/assets/images/social_icon_mailinglist.gif" />
      </a>
      <a target="_blank" href="https://davehakkens.nl/community/forums/">
        <img src="/assets/images/social_icon_community.gif" />
      </a>
    </nav>
  </section>
</div>

  <nav>
    <a href="/{{page.lang}}/about">{{page.translations.about.title}}</a>
    <a href="/{{page.lang}}/faq">{{page.translations.faq.title}}</a>
    <a href="/{{page.lang}}/help-us">{{page.translations.help-us.title}}</a>
    <a href="/{{page.lang}}/thanks">{{page.translations.thanks.title}}</a>
    <a href="/{{page.lang}}/terms">{{page.translations.terms.title}}</a>
    <a href="/{{page.lang}}/contact">{{page.translations.contact.title}}</a>
    <a href="https://davehakkens.nl/donate/preciousplastic/">{{page.translations.donate.title}}</a>
  </nav>

  <a href="#" class="by" target="_blank">
      <img src="/assets/images/by.gif">
  </a>

  <div class="social">
    <a href="https://facebook.com/davehakkens"></a>
    <a href="https://twitter.com/davehakkens"></a>
    <a href="https://youtube.com/hakopdetak"></a>
    <a href="https://github.com/hakkens"></a>
    <a href="https://davehakkens.nl/mailinglist/"></a>
  </div>
</footer>
