<header id="menu">
  <div class="container">
    <a href="{{baseURL}}/" class="logo"></a>

    <span class="toggle">
      <b></b>
      <b></b>
      <b></b>
    </span>

    <div class="clearfix"></div>

    <nav>
      {% for node in site.pages %}

        {% assign current = nil %}

        {% if page.url == node.url %}
          {% assign current = "active" %}
        {% endif %}

        {% unless node.url == "/" or node.url contains "assets" or node.layout == "page" %}
          <a href="{{node.url}}" class="{{current}}">{{node.title}}</a>
        {% endunless %}

      {% endfor %}

      <a href="{{baseURL}}/videos" class="start">Start</a>
    </nav>
  </div>
</header>
