<header id="menu">
  <div class="container">
    <a href="/{{page.lang}}" class="logo"></a>

    <span class="toggle">
      <b></b>
      <b></b>
      <b></b>
    </span>

    <div class="clearfix"></div>

    <nav>
      {% assign sorted = (site.pages | sort: "index") %}

      {% for node in sorted %}

				{% if node.lang != page.lang %}
					{% continue %}
				{% endif %}

        {% assign current = nil %}

        {% if page.url == node.url %}
          {% assign current = "active" %}
        {% endif %}

        {% unless node.url == "/" or node.url contains "assets" or node.layout == "page" or node.kind == "error" %}
          <a href="{{node.url}}" class="{{current}}">{{node.title}}</a>
        {% endunless %}

      {% endfor %}

      <a href="/{{page.lang}}/{{layout.translations.[page.lang].videos.link}}" class="start">{{layout.translations.[page.lang].videos.title}}</a>
    </nav>
  </div>
</header>
