<aside id="overlay">
  <span class="toggle"></span>

  <div class="inner">
  <a href="/{{page.lang}}/" class="logo"></a>
    <h1>Help us move forward</h1>

    <div class="support">
      <a href="https://davehakkens.nl/donate/preciousplastic" target="_blank"> <div class="support-icon"><div class="support-text"><img src="/assets/images/support_donate.png" alt="donate"></div><h1>Donate</h1></a>Make a donation to keep us maintaining Precious Plastic</div>
      <a href="https://next.preciousplastic.com" target="_blank"><div class="support-icon"><div class="support-text"><img src="/assets/images/support_next.png" alt="donate"></div><h1>Development</h1></a>Have a look at our next version and help development.</div>
      <a href="https://www.patreon.com/davehakkens" target="_blank"> <div class="support-icon"><div class="support-text"><img src="/assets/images/support_patreon.png" alt="donate"></div><h1>Patreon</h1></a>Back us on patreon so we can do more projects like this</div>
</div>
    <nav class="social">
      <a href="https://plus.google.com/share?url={{site.url | cgi_escape}}" class="google-plus" target="_blank"></a>
      <a href="https://twitter.com/intent/tweet?url={{site.url | cgi_escape}}&text={{site.description | cgi_escape}}+%23preciousplastic+http%3A%2F%2Fyoutu.be%2F8J7JZcsoHyA" class="twitter" target="_blank"></a>
      <a href="https://www.facebook.com/sharer/sharer.php?u={{site.url | cgi_escape}}&summary=http%3A%2F%2Fyoutu.be%2F8J7JZcsoHyA" class="facebook" target="_blank"></a>
      <a href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url={{site.url | cgi_escape}}&title={{site.title | cgi_escape}}" class="q-zone" target="_blank"></a>
      <a href="http://www.linkedin.com/shareArticle?mini=true&url={{site.url | cgi_escape}}&title={{site.title | cgi_escape}}" class="linkedin" target="_blank"></a>
    </nav>
  </div>
</aside>

<a href="#" id="toggle-overlay">
  {{page.translations.overlay.want}} <span>{{page.translations.overlay.SPREAD}}</span> {{page.translations.overlay.magic}}
</a>
