<aside id="overlay">
  <span class="toggle"></span>

  <div class="inner">
    <a href="{{baseURL}}/" class="logo"></a>
    <h1>Spread the knowledge!</h1>
    <p>Make sure it reaches your friend, uncle and that farmer living in Africa.</p>

    <nav class="social">
      <a href="https://plus.google.com/share?url={{site.url | cgi_escape}}" class="google-plus" target="_blank"></a>
      <a href="https://twitter.com/intent/tweet?url={{site.url | cgi_escape}}" class="twitter" target="_blank"></a>
      <a href="https://www.facebook.com/sharer/sharer.php?u={{site.url | cgi_escape}}" class="facebook" target="_blank"></a>
      <a href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url={{site.url | cgi_escape}}&title={{site.title | cgi_escape}}" class="q-zone" target="_blank"></a>
      <a href="http://pinterest.com/pin/create/button/?url={{site.url | cgi_escape}}&description={{site.title | cgi_escape}}" class="pinterest" target="_blank"></a>
      <a href="http://www.linkedin.com/shareArticle?mini=true&url={{site.url | cgi_escape}}&title={{site.title | cgi_escape}}" class="linkedin" target="_blank"></a>
    </nav>

    <p class="total">Total shares: <span>0</span></p>
  </div>
</aside>

<aside id="toggle-overlay">
  Want to help us? <a href="#">SPREAD</a> the project and let the magic happen.
</aside>
