.unslider {
  overflow: auto;
  margin: 0;
  padding: 0;

  li, ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border: none;
  }
}

.unslider-wrap {
  position: relative;

  &.unslider-carousel > li {
    float: left;
  }
}

.unslider-vertical {
  > ul {
    height: 100%;
  }

  li {
    float: none;
    width: 100%;
  }
}

.unslider-fade {
  position: relative;

  .unslider-wrap li {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: 8;

    &.unslider-active {
      z-index: 10;
    }
  }
}

.unslider-arrow {
  position: absolute;
  left: 20px;
  z-index: 2;
  cursor: pointer;

  &.next {
    left: auto;
    right: 20px;
  }
}
