@import url(https://fonts.googleapis.com/css?family=Varela+Round);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,700,700italic);

body {
  margin: 0;
  font-family: 'Varela Round', sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #F2F6F8;
}

a {
  text-decoration: none;
}

.clearfix {
  clear: both;
}

#intro {
  background: #B9CFE4;
  color: #fff;
  background-image: url(/images/intro.png);
  background-repeat: repeat-x;
  background-position: center bottom;
  background-size: 100% auto;
  padding-top: 50px;
  padding-bottom: 510px;

  .top {
    text-align: center;

    a {
      height: 66px;
      width: 66px;
      display: inline-block;
      background: url(/images/logo.png) no-repeat center center;
      background-size: contain;

      @media (min-width: 992px) {
        width: 80px;
        height: 80px;
      }
    }

    p {
      width: 100%;
      background: url(/images/title.png) no-repeat center center;
      height: 70px;
      margin: 20px 0 50px 0;
      background-size: 270px auto;

      @media (min-width: 768px) {
        margin-top: 40px;
        background-size: 400px auto;
      }
    }
  }

  .left {
    padding: 0 15px;

    img {
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.31);
      max-width: 100%;
    }

    @media (min-width: 992px) {
      margin: 0;
      padding: 0;
      width: 50%;
    }
  }

  .right {
    text-align: center;
    padding: 30px 20px 0;
    position: relative;
    margin-bottom: 100px;

    a {
      color: #5275F0;
    }

    h1 {
      font-size: 24px;
      line-height: 30px;
    }

    p {
      font-size: 14px;
      line-height: 24px;
    }

    .spread {
      background: #EDCD86;
      color: #fff;
      border-radius: 7px;
      font-size: 16px;
      padding: 16px 11px;
      display: inline-block;
      margin: 20px 0;
      transition: background .2s;

      &:hover {
        background: #d5b879;
      }
    }

    .boost {
      background: url(/images/boost.png) no-repeat center center;
      background-size: contain;
      width: 150px;
      height: 40px;
      display: block;
      position: absolute;
      right: 20px;

      @media (min-width: 768px) {
        width: 200px;
        height: 70px;
        right: -40px;
        bottom: -25px;
      }

      @media (min-width: 992px) {
        right: 20px;
      }
    }

    @media (min-width: 768px) {
      a {
        margin-top: 40px;
      }

      p {
        font-size: 18px;
        line-height: 28px;
      }
    }

    @media (min-width: 992px) {
      width: 50%;
      padding: 0;
      text-align: left;
      padding-left: 40px;
      box-sizing: border-box;
    }
  }

  .bottom {
    text-align: center;
    margin: 250px 0 0 0;

    h1 {
      font-size: 24px;
      line-height: 29px;
    }

    a {
      color: #5B72EB;
    }

    @media (min-width: 768px) {
      margin-left: auto;
      margin-right: auto;

      h1 {
        font-size: 29px;
        line-height: 40px;
      }
    }

    @media (min-width: 992px) {
      h1 {
        font-size: 45px;
        line-height: 58px;
      }
    }
  }

  @media (min-width: 768px) {
    background-image: url(/images/intro-sm.png);
    padding-top: 100px;

    aside {
      width: 500px;
      margin: 0 auto;
    }
  }

  @media (min-width: 992px) {
    background-image: url(/images/intro-md.png);
    background-size: auto 500px;

    .wrap {
      width: 980px;
      margin: 100px auto 0;
    }

    .left,
    .right {
      float: left;
    }
  }
}

#the-plan {
  text-align: center;
  padding-top: 300px;
  overflow: hidden;

  img {
    position: absolute;
    top: -150px;
    left: -200px;
    width: 700px;

    @media (min-width: 768px) {
      left: 0;
      width: 100%;
      top: -180px;
    }

    @media (min-width: 992px) {
      width: 1000px;
      margin: auto;
      margin-top: -50px;
      position: relative;
    }
  }

  article {
    background: #fff;
    padding-top: 80px;
    padding-bottom: 100px;
    position: relative;

    @media (min-width: 992px) {
      padding-top: 0;
    }
  }

  h1 {
    font-size: 40px;
    color: #5D6570;

    @media (min-width: 992px) {
      margin-top: 0;
    }
  }

  ul {
    margin: 0 20px;
    padding: 0;
    list-style: none;
    text-align: left;

    li {
      color: #424242;
      font-size: 15px;
      padding-left: 45px;
      margin-bottom: 10px;
      background: url(/images/unchecked.svg) no-repeat left top;
      min-height: 30px;
      padding-top: 5px;

      &.check {
        background-image: url(/images/checked.svg)
      }
    }

    a {
      color: #4A90E2
    }

    @media (min-width: 768px) {
      max-width: 500px;
      margin: 0 auto;

      li {
        font-size: 17px;
        min-height: 50px;
        padding-left: 70px;
        background-size: 40px;
      }
    }
  }

  @media (min-width: 768px) {
    padding-top: 350px;
  }

  @media (min-width: 992px) {
    padding-top: 580px;
  }
}

#areas {
  text-align: center;
  padding: 70px 0;

  h1 {
    font-size: 18px;
    color: #53BBB4;

    @media (min-width: 768px) {
      font-size: 30px;
    }
  }

  img {
    max-width: 100%;
    margin-top: 50px;
  }

  a {
    background: #EDCD86;
    color: #fff;
    border-radius: 7px;
    font-size: 16px;
    padding: 16px 11px;
    display: inline-block;
    margin-top: 50px;
    transition: background .2s;

    &:hover {
      background: #d5b879;
    }
  }

  @media (min-width: 992px) {
    img {
      width: 800px;
      display: inline-block;
    }
  }
}

#copyright {
  background: #313131;
  text-align: center;
  padding-top: 140px;
  padding-bottom: 140px;

  a {
    display: block;
  }

  nav {
    color: #fff;
    font-size: 16px;
    margin-top: 45px;

    a {
      color: inherit;
      display: inline-block;
      margin: 0 18px;
    }
  }

  .by {
    width: 260px;
    margin: 40px auto 0;
    height: 20px;
    background: url(/images/by.svg) no-repeat center center;
    background-size: contain;
    text-indent: -999999px;
  }

  .logo {
    width: 70px;
    height: 70px;
    display: inline-block;
    background: url(/images/logo.png) no-repeat center center;
    background-size: contain;
    margin-top: 40px;
  }

  .visit {
    color: #fff;
    font-size: 24px;
  }

  .social {
    margin-top: 30px;

    a {
      width: 25px;
      height: 20px;
      margin: 0 5px;
      display: inline-block;
      background-repeat: no-repeat;
      background-size: contain;

      &[href*="facebook"] {
        background-image: url(/images/facebook.svg);
      }

      &[href*="twitter"] {
        background-image: url(/images/twitter.svg);
      }

      &[href*="youtube"] {
        background-image: url(/images/youtube.svg);
      }

      &[href*="mail"] {
        background-image: url(/images/newsletter.svg);
      }
    }
  }

  @media (min-width: 768px) {
    .by {
      width: 400px;
      height: 18px;
      margin-top: 100px;
    }

    .social {
      margin-top: 30px
    }
  }

  @media (min-width: 992px) {
    position: relative;
    margin-top: 10px;

    &:before {
      content: '';
      display: block;
      background: url(/images/footer-top.png) repeat-x left bottom;
      background-size: 100% auto;
      width: 100%;
      height: 20px;
      position: absolute;
      top: -20px;
    }
  }
}

#menu {
  background: #fff;
  height: 60px;
  padding: 0 20px;
  position: relative;
  z-index: 2000;

  .container {
    height: inherit;
    line-height: 60px;
  }

  .logo {
    background: url(/images/logo-title.png) no-repeat center center;
    background-size: contain;
    display: inline-block;
    height: 50px;
    width: 135px;
    vertical-align: middle;
  }

  .toggle {
    height: 30px;
    width: 26px;
    display: block;
    margin-top: 18px;
    float: right;
    cursor: pointer;

    b {
      height: 3px;
      width: inherit;
      display: block;
      background: #000;
      border-radius: 4px;

      &:nth-child(2) {
        margin: 7px 0;
      }
    }
  }

  nav {
    background: #fff;
    line-height: normal;
    display: none;
    margin: 0px -20px;
    padding: 20px;

    a {
      font-size: 16px;
      display: block;
      color: #5D6570;
      letter-spacing: 1px;
      padding: 10px 0;
      margin: 8px 0;
    }

    .start {
      display: none;
    }
  }

  @media (min-width: 768px) {
    height: 80px;

    nav {

      a {
        font-size: 18px;
      }

      .start {
        display: inline-block;
        color: #9DE6CF;
        border: 2px solid #9DE6CF;
        border-radius: 4px;
        padding: 8px 25px;
      }

    }

    .container {
      line-height: 80px;
    }

    .logo {
      height: 70px;
      width: 145px;
    }

    .toggle {
      margin-top: 29px;
      width: 35px;
    }
  }

  @media (min-width: 992px) {
    background: none;
    position: absolute;
    top: 10px;
    padding: 0;
    width: 100%;

    nav {
      display: block !important;
      float: right;
      padding: 0;
      background: none;
      margin-top: 22px;

      a {
        display: inline-block;
        padding: 0;
        font-size: 16px;
        margin-left: 20px;
      }

      .start {
        background: #9DE6CF;
        color: #fff;
        padding: 6px 15px;
        margin-top: 0;
        margin-bottom: 0;
      }
    }

    .clearfix {
      display: none;
    }

    .container {
      width: 940px;
      margin: 0 auto;
    }

    .toggle {
      display: none;
    }
  }
}

#hero {
  color: #4D5052;
  padding: 90px 20px 0;
  height: 330px;
  background: url(/images/hero-sm.png) no-repeat center center;

  h1 {
    font-size: 22px;
  }

  h2 {
    font-size: 16px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
  }

  .button-group {
    margin-top: 30px;
  }

  a {
    font-size: 16px;
    border-radius: 3px;
    padding: 10px 29px;
    display: inline-block;

    &:first-child {
      background: #F28282;
      color: #fff;
      margin-bottom: 15px;
    }

    &:last-child {
      background: #FFE096;
      color: #656565;
    }
  }

  @media (min-width: 768px) {
    height: 420px;
    padding-top: 80px;
    background-image: url(/images/hero-md.png);

    h1 {
      margin-bottom: 20px;
      font-size: 50px;
      line-height: 69px;
    }

    h2 {
      font-size: 22px;
      margin-top: 0;
    }

    .button-group {
      br {
        display: none;
      }

      a {
        display: inline-block;

        &:last-child {
          margin-left: 25px;
        }
      }
    }
  }

  @media (min-width: 992px) {
    padding-left: 0;
    padding-right: 0;
    background-image: url(/images/hero-lg.png);
    height: 610px;

    h1 {
      max-width: 700px;
    }

    .container {
      margin: 0 auto;
      width: 940px;
      margin-top: 180px;

      h2 {
        display: none;
      }
    }

    .button-group a:first-child {
      background: #82DBDE;
    }
  }
}

#our-plan {
  padding: 50px 20px;
  background: #fff;

  hr {
    border: 0;
    max-width: 200px;
    margin: 50px auto;
    border-top: 2px solid #D4D8DA;
    display: none;

    &.first {
      display: block;

      & + p {
        display: none;
      }
    }
  }

  img {
    max-width: 80%;
    margin: 0 auto;
    display: block;
    margin-bottom: 50px;
  }

  article {
    margin: 140px 0;

    h1 {
      font-size: 22px;
      color: #4D5052;
    }

    p {
      font-size: 16px;
      color: #7D7D7D;
      font-family: 'Open Sans', sans-serif;
      line-height: 30px;
    }

    a {
      font-size: 15px;
      margin-top: 30px;
      color: #79BAD9;
      padding: 10px 0;
      display: block;

      &:after {
        content: '\2192';
        margin-left: 10px;
        font-size: 20px;
        display: inline-block;
        margin-bottom: -4px;
        vertical-align: bottom
      }

      &.red {
        color: #F36679;
      }
    }

    @media (min-width: 768px) {
      width: 670px;
      margin: 120px auto;

      &:after {
        display: block;
        content: '';
        clear: both;
      }

      a {
        font-size: 17px;
      }

      img {
        max-width: 60%;
        margin: 0;
      }

      .left,
      .right {
        width: 50%;

        h1 {
          margin-top: 0;
        }

        p {
          font-size: 18px;
          line-height: 32px;
        }
      }

      .left {
        float: left;
        text-align: left;
      }

      .right {
        float: right;
        padding-left: 20px;
        box-sizing: border-box;

        img {
          float: right;
        }
      }
    }

    @media (min-width: 992px) {
      width: 940px;
    }
  }

  .description {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;

    h1 {
      color: #5D6570;
      font-size: 40px;
    }

    p {
      font-size: 18px;
      line-height: 29px;
    }
  }

  @media (min-width: 768px) {
    hr {
      display: block;
    }

    img {
      margin-bottom: 0;
    }

    .description {
      margin-bottom: 120px;
    }
  }

  @media (min-width: 992px) {
    hr.first {
      display: none;

      & + p {
        display: block;
        background: #FFD87D;
        font-size: 15px;
        text-align: center;
        margin: 0 -20px 140px;
        padding: 16px 0;

        a {
          color: inherit;
          border-bottom: 1px solid #000;

          &:hover {
            border-bottom-color: transparent;
          }
        }
      }
    }

    .description {
      margin-bottom: 60px;

      h1 {
        font-size: 50px;
      }

      p {
        font-size: 22px;
        line-height: 40px;
        max-width: 570px;
        margin: 0 auto;
      }
    }
  }
}

#what-made {
  padding: 70px 20px;
  text-align: center;

  h1 {
    font-size: 40px;
    color: #5D6570;
  }

  figure {
    margin: 130px 0;

    img {
      width: 180px;
      margin-bottom: 30px;
    }

    h1 {
      color: #484848;
      font-size: 25px;
    }

    p {
      font-size: 14px;
      font-family: 'Open Sans', sans-serif;
      color: #7D7D7D;
      line-height: 33px;
    }
  }

  .button {
    border-radius: 3px;
    color: #fff;
    background: #79BAD9;
    padding: 9px 18px;
    display: inline-block;
  }

  @media (min-width: 768px) {
    figure {
      margin: 50px 0;
      width: 45%;
      box-sizing: border-box;
      padding: 0 30px;
      display: inline-block;
    }

    .container > h1 {
      font-size: 50px;
    }

    .button {
      margin-top: 30px;
      padding: 15px 28px;
    }
  }

  @media (min-width: 992px) {
    figure {
      width: 33.333333%;
      float: left;
    }

    .container {
      width: 940px;
      margin: 0 auto;
    }
  }
}

#didnt-notice {
  color: #fff;
  padding: 50px 20px 750px;
  background: #B9CFE4 url(/images/intro-sm.png) no-repeat center bottom;

  h1 {
    font-size: 40px;
    line-height: 56px;
    text-align: center;
    margin: 0 0 50px 0;
  }

  p {
    font-size: 16px;
    line-height: 33px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 50px;
  }

  @media (min-width: 768px) {
    text-align: center;
    padding-bottom: 800px;

    h1 {
      font-size: 50px;
      margin-top: 60px;
    }

    p {
      font-size: 22px;
      line-height: 40px;
    }
  }

  @media (min-width: 992px) {
    background-image: url(/images/intro-lg.png);
    background-size: 100% auto;
    padding-bottom: 900px;

    .container {
      width: 730px;
      margin: 0 auto;
    }
  }
}

#ready-to-start {
  text-align: center;
  padding: 80px 0;

  h1 {
    color: #5D6570;
    font-size: 40px;
    margin-bottom: 50px;
  }

  figure {
    margin-bottom: 80px;

    img {
      border: 5px solid #fff;
      max-width: 80%;
      display: block;
      margin: 0 auto;
    }

    figcaption {
      color: #7D7D7D;
      font-size: 14px;
      font-family: 'Open Sans', sans-serif;
      margin-top: 20px;
    }
  }

  .more {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    line-height: 29px;
    margin-bottom: 80px;
    color: #7D7D7D;
  }

  .button {
    color: #fff;
    background: #F28282;
    border-radius: 3px;
    padding: 8px 21px;
  }

  @media (min-width: 768px) {
    figure {
      width: 40%;
      display: inline-block;
      margin: 40px 0;
      box-sizing: border-box;
    }

    .button {
      padding: 15px 28px;
      margin-top: 50px;
      display: inline-block;
    }
  }

  @media (min-width: 992px) {
    figure {
      width: 33.3333333%;
      float: left;
    }

    .container {
      width: 940px;
      margin: 0 auto;
    }
  }
}

#more-questions {
  background: #DBDFE1;
  padding: 50px;
  text-align: center;
  color: #5D6570;

  p {
    margin: 0 auto;
    font-size: 20px;
    line-height: 35px;

    a {
      color: #6A90C1;
    }
  }

  @media (min-width: 768px) {
    font-size: 30px;
    line-height: normal;
  }
}

#intro-red {
  color: #fff;
  padding: 70px 20px 250px;
  background: #F28282 url(/images/machines-overview-sm.png) no-repeat center bottom 30px;
  background-size: 100% auto;

  h1 {
    font-size: 30px;
    line-height: 45px;
  }

  p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
  }
}

#features {
  padding: 40px 20px 30px;

  figure {
    margin: 30px 0;

    &:after {
      content: '';
      display: block;
      clear: both;
    }

    img {
      width: 100px;
      height: 100px;
      float: left;
    }

    figcaption {
      width: 70%;
      float: left;

      h1 {
        line-height: 100px;
        margin: 0;
        color: #4D5052;
        padding-left: 25px;
      }

      p {
        display: none;
      }
    }
  }

  .title {
    font-size: 40px;
    color: #5D6570;
    text-align: center;
    margin-bottom: 70px;
  }
}

#machines {
  background: #fff;
  padding: 50px 20px;

  figure {
    text-align: center;
    margin: 100px 0;

    &:first-child {
      margin-top: 0;
    }

    h1 {
      font-size: 40px;
      color: #5D6570;
    }

    p {
      font-size: 18px;
      color: #7D7D7D;
      line-height: 29px;
    }

    img {
      width: 80%;
    }
  }

  .build-yourself {
    display: none;
  }
}

#machines-many {
  text-align: center;
  padding: 60px 20px;
  position: relative;
  background: url('/images/machines-many.png') no-repeat center center;
  background-size: auto 100%;

  p {
    color: #F28282;
    font-size: 30px;
    line-height: 45px;
    z-index: 1000;
    position: relative;
  }

  aside {
    background: #fff;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    opacity: .8;
  }
}
