<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="twitter:image" content="/assets/images/touch-icon.png">

    <link rel="apple-touch-icon" href="/assets/images/touch-icon.png">
    <link rel="icon" href="/assets/images/favicon.png" type="image/png">

    <meta property="og:title" content="{{site.title}}">
    <meta property="og:image" content="/assets/images/touch-icon.png">
    <meta property="og:description" content="{{site.description}}">
    <meta name="description" content="{{site.description}}">

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-69053098-1', 'auto');
      ga('send', 'pageview');
    </script>

    {% if page.url == '/news/' %}
      <meta name="robots" content="noindex, nofollow">
    {% endif %}

    <!--[if lt IE 9]>
      <script src="/assets/js/html5shiv.min.js"></script>
    <![endif]-->

    <title>{% if page.title %}{{page.title}} &mdash; {{site.title}}{% else %}{{site.title}}{% endif %}</title>

    <link href="//fonts.googleapis.com" rel="preconnect" crossorigin>
    <link href="/assets/css/styles.css" rel="stylesheet">
    <link rel="canonical" href="{{site.url}}">
  </head>

  <body class="{{page.kind}}{% if page.url == "/" %} start{% endif %}">
    {% include header.html %}

    {{content}}

    {% include footer.html %}
    {% include overlay.html %}

    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>

    <script src="/assets/js/unslider.min.js"></script>
    <script src="/assets/js/fitvid.min.js"></script>

    {% if page.url contains "/video" %}
      <script src="https://www.youtube.com/iframe_api" async></script>
    {% endif %}

    {% if page.url contains "/faq" %}
      <script src="/assets/js/neat.min.js"></script>
    {% endif %}

    {% if page.url contains "/extra" %}
      <script src="/assets/js/isotope.min.js"></script>
    {% endif %}

    <script src="/assets/js/sticky.min.js"></script>
    <script src="/assets/js/app.js"></script>
  </body>
</html>
