---
layout: default
---

{% assign video = false %}

{% if page.url contains "/video" %}
  {% assign video = true %}
{% endif %}

{% if video %}
  <main id="page" class="video {{page.color}}">
{% else %}
  <main id="page">
{% endif %}

  <div class="container">
    <aside>
      <span>
        {% if video %}{{page.translations.videos.mobile-title}}{% else %}tiny menu{% endif %}
        <b>&plus;</b>
      </span>

      {% if video %}
      <h1 class="menu-title">{{page.translations.videos.menu-title}}</h1>
      {% endif %}

      <nav>
        {% if video %}
          {% assign sorted = (site.pages | sort: "id") %}

          {% for node in sorted %}
            {% assign active = "" %}
            {% assign isVideo = false %}

            {% if page.lang != node.lang %}
              {% continue %}
            {% endif %}

            {% capture idxurl %}/{{node.lang}}/videos/{% endcapture %}
            {% if page.url contains node.url and node.url != idxurl %}
              {% assign active = " current" %}
            {% endif %}

            {% if page.url == node.url %}
              {% assign active = " current" %}
            {% endif %}

            {% if node.url contains "/video" %}
              {% assign isVideo = true %}
            {% endif %}

            {% assign node_url_parts = node.url | split: '/' %}
            {% assign node_url_parts_size = node_url_parts | size %}

            {% assign id = node.id %}

            {% if node.id > 7 %}
              {% assign id = node.id | minus:4 %}
            {% endif %}

            {% if isVideo and node_url_parts_size < 5 %}
              <a href="{{node.url}}" class="page-{{id}}{{active}}">
                <span>{{id}}. </span>{{node.short}}
              </a>
            {% endif %}

            {% if node_url_parts_size >= 5 and isVideo and page.url contains "/build" %}
              <a href="{{node.url}}" class="sub-item{{active}}">{{node.short}}</a>
            {% endif %}
          {% endfor %}
        {% else %}
        {% assign ln = page.translations %}
        {% assign words = "about_faq_help-us_thanks_terms_contact" | split: '_' %}
        {% for word in words %}
          {% capture lnk %}/{{page.lang}}/{{word}}/{% endcapture %}
          <a href="{{lnk}}" {% if page.url == {{lnk}} %}class="current"{% endif %}>{{ln.[word].title}}</a>
        {% endfor %}
        {% endif %}
      </nav>
    </aside>

    <article>
      <h1 class="title">{{page.title}}</h1>

      {{content}}
    </article>

    <div class="clearfix"></div>
  </div>
</main>
