---
layout: default
---

{% assign video = false %}

{% if page.url contains "/video" %}
  {% assign video = true %}
{% endif %}

{% if video %}
  <main id="page" class="video {{page.color}}">
{% else %}
  <main id="page">
{% endif %}

  <div class="container">
    <aside>
      <span>
        {% if video %}{{layout.translations.[page.lang].videos.mobile-title}}{% else %}tiny menu{% endif %}
        <b>&plus;</b>
      </span>

      {% if video %}
      <h1 class="menu-title">{{layout.translations.[page.lang].videos.menu-title}}</h1>
      {% endif %}

      <nav>
        {% if video %}
          {% assign sorted = (site.pages | sort: "id") %}

          {% for node in sorted %}
            {% assign active = "" %}
            {% assign isVideo = false %}

            {% capture idxurl %}/{{node.lang}}/videos/{% endcapture %}
            {% if page.url contains node.url and node.url != idxurl %}
              {% assign active = " current" %}
            {% endif %}

            {% if page.url == node.url %}
              {% assign active = " current" %}
            {% endif %}

            {% if node.url contains "/video" %}
              {% assign isVideo = true %}
            {% endif %}

            {% assign node_url_parts = node.url | split: '/' %}
            {% assign node_url_parts_size = node_url_parts | size %}

            {% assign id = node.id %}

            {% if node.id > 7 %}
              {% assign id = node.id | minus:4 %}
            {% endif %}

            {% if isVideo and node_url_parts_size < 5 %}
              <a href="{{node.url}}" class="page-{{id}}{{active}}">
                <span>{{id}}. </span>{{node.short}}
              </a>
            {% endif %}

            {% if node_url_parts_size >= 5 and isVideo and page.url contains "/build" %}
              <a href="{{node.url}}" class="sub-item{{active}}">{{node.short}}</a>
            {% endif %}
          {% endfor %}
        {% else %}
        {% assign ln = layout.translations.[page.lang] %}
        <a href="/{{page.lang}}/{{ln.about.link}}" {% if page.url == "/{{page.lang}}/{{ln.about.link}}" %}class="current"{% endif %}>{{ln.about.title}}</a>
        <a href="/{{page.lang}}/{{ln.faq.link}}" {% if page.url == "/{{page.lang}}/{{ln.faq.link}}" %}class="current"{% endif %}>{{ln.faq.title}}</a>
        <a href="/{{page.lang}}/{{ln.help-us.link}}" {% if page.url == "/{{page.lang}}/{{ln.help-us.link}}" %}class="current"{% endif %}>{{ln.help-us.title}}</a>
        <a href="/{{page.lang}}/{{ln.thanks.link}}" {% if page.url == "/{{page.lang}}/{{ln.thanks.link}}" %}class="current"{% endif %}>{{ln.thanks.title}}</a>
        <a href="/{{page.lang}}/{{ln.terms.link}}" {% if page.url == "/{{page.lang}}/{{ln.terms.link}}" %}class="current"{% endif %}>{{ln.terms.title}}</a>
        <a href="/{{page.lang}}/{{ln.contact.link}}" {% if page.url == "/{{page.lang}}/{{ln.contact.link}}" %}class="current"{% endif %}>{{ln.contact.title}}</a>
        {% endif %}
      </nav>
    </aside>

    <article>
      <h1 class="title">{{page.title}}</h1>

      {{content}}
    </article>

    <div class="clearfix"></div>
  </div>
</main>
