---
layout: default
---

<main id="page">
  <div class="container">
    <aside>
      <span>tiny menu <b>&plus;</b></span>

      <nav>
        <a href="/about" {% if page.url == "/about/" %}class="current"{% endif %}>About</a>
        <a href="/faq" {% if page.url == "/faq/" %}class="current"{% endif %}>FAQ</a>
        <a href="/help-us" {% if page.url == "/help-us/" %}class="current"{% endif %}>Help Us</a>
        <a href="/thanks" {% if page.url == "/thanks/" %}class="current"{% endif %}>Thanks!</a>
        <a href="/terms" {% if page.url == "/terms/" %}class="current"{% endif %}>Terms</a>
        <a href="/contact" {% if page.url == "/contact/" %}class="current"{% endif %}>Contact</a>
      </nav>
    </aside>

    <article>
      <h1>{{page.title}}</h1>

      {{content}}
    </article>

    <div class="clearfix"></div>
  </div>
</main>
