.navbar-pilots {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  background-color: #fff;
}

.navlink-pilots {
  margin-right: 10px;
  margin-left: 10px;
  padding-right: 10px;
  padding-left: 10px;
  font-family: 'Varela Round', sans-serif;
  color: #484b4d;
  font-size: 15px;
  line-height: 24px;
}

.flex-wrapper-navbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo-svg {
  width: 70px;
}

.logo-svg.jaden-logo {
  width: 120px;
}

.navbar-2 {
  border-bottom: 1px solid #c5c6da;
  background-color: #fff;
}

.navbar-2.campaign {
  border-style: none;
  background-color: transparent;
}

.nav-link {
  margin-right: 15px;
  margin-left: 15px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  border-bottom: 1px none #f58d8e;
  font-family: 'Varela Round', sans-serif;
  color: #484b4d;
  font-size: 15px;
  line-height: 24px;
}

.nav-link:hover {
  border-style: none none solid;
  border-width: 1px;
  border-color: #000 #000 #f58d8e;
  text-decoration: none;
}

.nav-link.w--current {
  border-bottom-style: solid;
  color: #484b4d;
}

.nav-link.nav-link-start {
  margin: 10px 0px 10px 25px;
  padding: 10px 20px;
  border: 1px solid #f58d8e;
  border-radius: 3px;
  background-color: #f58d8e;
  color: #fff;
  text-decoration: none;
}

.nav-link.nav-link-start:hover {
  background-color: transparent;
  box-shadow: none;
  color: #f58d8e;
}

.nav-link.nav-link-start.w--current {
  border: 1px solid #f58d8e;
}

.nav-link.nav-link-start.w--current:hover {
  border-style: solid;
  border-color: #f58d8e;
  background-color: transparent;
  box-shadow: none;
  color: #f58d8e;
}

.main-container {
  display: block;
  width: 95%;
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  color: #c5c6da;
  text-align: left;
}

.navbar-flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.pilot-recap {
  width: 35%;
  float: left;
}

.pilot-recap.pilots-info {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin-top: 50px;
  margin-right: 10%;
  margin-left: 10%;
  padding-bottom: 0px;
  float: none;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.pilot-map-kenya {
  width: 40%;
  margin-top: 50px;
}

.pilot-map-kenya.svb {
  width: 40%;
  margin-top: 0px;
}

.main-container-pilot {
  display: block;
  width: 98%;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.h1-pilots {
  font-family: 'Varela Round', sans-serif;
  color: #484b4d;
  font-size: 54px;
  line-height: 60px;
  text-align: center;
}

.h6-pilots.red {
  margin-top: 100px;
  margin-bottom: 0px;
  font-family: 'Open Sans', sans-serif;
  color: #f58d8e;
  font-size: 14px;
  text-align: center;
  letter-spacing: 1.5px;
}

.h6-pilots.red.align-left {
  font-size: 12px;
  text-align: left;
}

.kenya-flag {
  width: 50px;
  margin-top: 20px;
  margin-bottom: 0px;
}

.kenya-flag.flag-jaden {
  display: none;
}

.paragraph-pilots {
  display: block;
  width: auto;
  margin: 20px auto 10px;
  font-family: 'Open Sans', sans-serif;
  color: #484b4d;
  font-size: 16px;
  line-height: 26px;
  text-align: left;
  letter-spacing: 1.1px;
}

.paragraph-pilots.intro {
  width: 50%;
  margin-top: 10px;
  margin-bottom: 100px;
  font-size: 18px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 1.5px;
}

.paragraph-pilots.partner {
  width: 80%;
  margin-top: 0px;
  margin-left: 0px;
  text-align: left;
}

.h5-info-body {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Open Sans', sans-serif;
  color: #484b4d;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
}

.div-info-pilot {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border-radius: 3px;
  background-color: #fbfbfd;
  box-shadow: 1px 1px 3px 0 #b6bbc0;
}

.h4-info-title {
  margin-top: -5px;
  margin-bottom: 0px;
  font-family: 'Varela Round', sans-serif;
  color: #f58d8e;
  font-size: 12px;
  text-align: center;
}

.pilot-intro {
  position: relative;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 100;
  height: auto;
  margin-top: 0vh;
  padding-top: 10%;
  padding-bottom: 10%;
  background-color: #fff;
  text-align: center;
}

.icon-info-pilot {
  display: block;
  width: 50px;
  margin-right: auto;
  margin-left: auto;
}

.pilot-info-wrapper {
  width: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.video-pilots {
  position: relative;
  display: block;
  width: 100vw;
  height: 100vh;
  margin-top: 0px;
}

.what-is-a-pilot {
  margin: 0.5%;
  padding: 100px 20px;
  border-radius: 3px;
  background-color: #f58d8e;
}

.emoji-partners {
  display: block;
  width: 100px;
  margin-right: auto;
  margin-bottom: 50px;
  margin-left: auto;
}

.pilot-content-left {
  width: 35%;
  float: left;
}

.pilot-content-left.pilots-info {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin-top: 50px;
  margin-right: 10%;
  margin-left: 10%;
  padding-bottom: 0px;
  float: none;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.pilot-content-left.pilots-info.jaden-info {
  display: none;
}

.slider-wrapper-pilots {
  display: block;
  width: 65%;
  margin-right: auto;
  margin-left: auto;
  float: none;
  clear: both;
  border-radius: 3px;
}

.paragraph-pilot {
  font-family: 'Open Sans', sans-serif;
  color: #484b4d;
  font-size: 16px;
  line-height: 25px;
}

.paragraph-pilot.white {
  color: #fff;
  text-align: left;
}

.link-text-pilots {
  display: inline-block;
  margin-bottom: 10px;
  font-family: 'Varela Round', sans-serif;
  color: #f58d8e;
  text-decoration: none;
}

.emoji-budget {
  display: block;
  width: 100px;
  margin: 0px auto 50px;
}

.image-14 {
  display: block;
  width: 70px;
  margin-top: 60px;
  margin-right: 70%;
  margin-left: 0%;
  float: none;
}

.image-14.kisii {
  width: 70px;
  margin-right: 75%;
  margin-left: 0%;
}

.pilot-slider {
  width: auto;
  height: auto;
  margin-top: 1px;
  border-radius: 3px;
  background-color: transparent;
}

.pilot-slider.left {
  width: auto;
  height: auto;
  float: left;
}

.pilots-h2 {
  margin-top: 0px;
  font-family: 'Varela Round', sans-serif;
  color: #484b4d;
  font-size: 32px;
}

.pilot-bg-image {
  height: 100vh;
  background-image: url('../images/africa-team.png');
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
}

.pilot-bg-image.kids {
  background-image: url('../images/IMG_1749.jpg');
}

.pilot-bg-image.africa {
  background-image: url('../images/5b169d51e18c9d044f724d2b_africa.png');
}

.icon {
  position: relative;
  display: inline-block;
  margin-top: 0px;
  margin-left: 10px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  color: #f58d8e;
}

.bold-text {
  color: #484b4d;
}

.img-slide-pilot {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.project-intro {
  position: relative;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 100;
  height: auto;
  margin-top: 0vh;
  padding-top: 10%;
  padding-bottom: 10%;
  background-color: #fff;
  text-align: center;
}

.project-intro.jaden-intro {
  padding-bottom: 0%;
}

.pilot-block {
  padding-top: 100px;
  padding-bottom: 100px;
  border-radius: 5px;
}

.link-pilots {
  display: block;
  width: 25%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
}

.emoji-pineapple {
  display: block;
  width: 100px;
  margin-right: auto;
  margin-bottom: 50px;
  margin-left: auto;
}

.text-wrapper-pilot {
  display: block;
  width: 50%;
  margin-right: auto;
  margin-bottom: 50px;
  margin-left: auto;
  text-align: left;
}

.pilots-explained-wrapper {
  display: block;
  width: 40%;
  margin-right: auto;
  margin-left: auto;
}

.paragraph {
  display: block;
  width: 40%;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  float: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 26px;
}

.paragraph.left {
  margin-top: 30px;
  float: none;
}

.paragraph.left.nopad {
  width: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #f58d8e;
  font-size: 16px;
}

.h2-pilot {
  margin-top: 100px;
  margin-bottom: 0px;
  font-family: 'Varela Round', sans-serif;
  color: #484b4d;
  font-size: 24px;
  text-align: left;
}

.h2-pilot.white {
  margin-top: 0px;
  color: #fff;
  text-align: left;
}

.slide {
  background-color: transparent;
  background-image: none;
  background-size: auto;
  background-repeat: repeat;
}

.slide-nav-2 {
  display: block;
  overflow: visible;
  margin-top: -22px;
  background-color: transparent;
  color: #bb4343;
}

.slider-wrapper-2 {
  display: block;
  width: 65%;
  margin-right: auto;
  margin-left: auto;
  float: none;
  clear: both;
  border-radius: 3px;
}

.know-more-jaden {
  margin-top: 0px;
  font-family: 'Varela Round', sans-serif;
  color: #f58d8e;
  text-align: center;
}

.hero-pilot-bg-image {
  height: 100vh;
  background-image: url('../images/africa-team.png');
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
}

.hero-pilot-bg-image.team.jaden-team {
  background-image: url('../images/PP_JadenSmithTable_Edits_v2-10.jpg');
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero-pilot-bg-image.team.jerry {
  background-image: url('../images/08.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-pilot-bg-image.kids {
  background-image: url('../images/IMG_1749.jpg');
}

.hero-pilot-bg-image.kids.last-jaden {
  background-image: url('../images/TableHD.jpg');
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero-pilot-bg-image.africa {
  background-image: url('../images/5b169d51e18c9d044f724d2b_africa.png');
}

.hero-pilot-bg-image.africa.jaden-antrho {
  background-image: url('../images/PP_JadenSmithTable_Edits_v2-26.jpg');
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero-pilot-bg-image.madives-cont {
  background-image: url('../images/01.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-pilot-bg-image.last-mald {
  background-image: url('../images/13.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.inline-link-jaden {
  color: #484b4d;
}

.emoji-pilot {
  width: 100px;
  margin-bottom: 50px;
}

.emoji-pilot.intro-emoji.knowmore {
  margin-top: 50px;
}

.emoji-pilot.zero-opacity {
  opacity: 0;
}

.pilot-block-2 {
  padding-top: 100px;
  padding-bottom: 100px;
  border-radius: 5px;
}

.img-pilots-big {
  width: 70%;
  margin-right: auto;
  margin-bottom: 100px;
  margin-left: auto;
}

.img-pilots-big.jaden-visit {
  width: 30%;
}

.img-pilots-big.gif-small {
  width: 50%;
}

.img-pilots-big.space-jaden {
  margin-top: 0px;
}

.img-pilots-big.space-jaden.mobile-jaden {
  display: none;
}

.link-pilot-new {
  color: #f58d8e;
  font-size: 16px;
}

@media (max-width: 991px) {
  .icon-2 {
    color: #484b4d;
  }
  .flex-wrapper-navbar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .menu-button {
    background-color: transparent;
  }
  .menu-button.w--open {
    background-color: #fff;
  }
  .navbar-2 {
    background-color: #fff;
  }
  .navbar-2.campaign {
    display: none;
  }
  .nav-link {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
  }
  .nav-link:hover {
    border-style: none;
  }
  .nav-link.w--current {
    width: 20%;
  }
  .nav-link.nav-link-start {
    display: inline-block;
    width: auto;
    margin-left: 15px;
    padding-right: 35px;
    padding-left: 35px;
    float: left;
  }
  .nav-menu {
    z-index: 700;
    padding-bottom: 20px;
    border-bottom: 1px solid #c5c6da;
    background-color: #fff;
  }
  .hmenu-pilots {
    color: #484b4d;
  }
  .nav-menu-2 {
    background-color: #fff;
    color: #a59a9a;
  }
  .menu-button-pilots {
    background-color: #fff;
  }
  .menu-button-pilots.w--open {
    background-color: #fff;
  }
  .pilot-recap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .pilot-recap.pilots-info {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .pilot-map-kenya {
    display: none;
    width: 48%;
    margin-top: 0px;
    float: right;
  }
  .pilot-map-kenya.svb {
    display: block;
    width: 80%;
    margin-top: 50px;
  }
  .paragraph-pilots.intro {
    width: 80%;
  }
  .div-info-pilot {
    width: 80%;
    float: left;
  }
  .pilot-info-wrapper {
    width: 33.3%;
  }
  .video-pilots {
    display: block;
    height: auto;
    margin-top: 0px;
  }
  .emoji-partners {
    display: block;
    width: 100px;
    margin-right: auto;
    margin-bottom: 100px;
    margin-left: auto;
  }
  .pilot-content-left {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .pilot-content-left.pilots-info {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .slider-wrapper-pilots {
    display: block;
    width: 99%;
    margin-right: auto;
    margin-left: auto;
    float: none;
  }
  .paragraph-pilot {
    width: 90%;
  }
  .paragraph-pilot.white {
    width: 100%;
  }
  .emoji-budget {
    display: block;
    width: 100px;
    margin: 0px auto 100px;
  }
  .pilot-slider {
    clear: none;
  }
  .pilot-bg-image {
    height: 50vh;
    background-position: 50% 50%;
  }
  .pilot-bg-image.team {
    height: 70vh;
  }
  .link-pilots {
    width: 40%;
  }
  .text-wrapper-pilot {
    width: 80%;
  }
  .pilots-explained-wrapper {
    width: 80%;
  }
  .slider-wrapper-2 {
    display: block;
    width: 99%;
    margin-right: auto;
    margin-left: auto;
    float: none;
  }
  .hero-pilot-bg-image {
    height: 50vh;
    background-position: 50% 50%;
  }
  .hero-pilot-bg-image.team {
    height: 70vh;
  }
}

@media (max-width: 767px) {
  .navbar-pilots {
    height: 80px;
  }
  .navbar-2 {
    z-index: 2000;
  }
  .nav-link.w--current {
    width: 25%;
  }
  .main-container {
    width: 100%;
    margin-bottom: 20%;
  }
  .video-pilots {
    margin-top: 80px;
  }
  .paragraph-pilot.white {
    width: 100%;
  }
  .image-14 {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .image-14.kisii {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (max-width: 479px) {
  .navbar-pilots {
    height: 70px;
    padding-bottom: 0px;
  }
  .navbar-2.campaign {
    height: 80px;
  }
  .nav-link.w--current {
    width: 50%;
  }
  .main-container {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .pilot-recap.pilots-info {
    display: block;
    width: 95%;
    margin-right: auto;
    margin-left: auto;
  }
  .pilot-map-kenya.svb {
    width: 100%;
    margin-top: 50px;
    float: none;
  }
  .h1-pilots {
    font-size: 28px;
    line-height: 38px;
  }
  .paragraph-pilots.intro {
    width: 100%;
    line-height: 28px;
  }
  .paragraph-pilots.partner {
    width: 90%;
  }
  .h5-info-body {
    font-size: 12px;
  }
  .div-info-pilot {
    width: 100%;
    margin-bottom: 50px;
    float: none;
  }
  .h4-info-title {
    font-size: 14px;
  }
  .video-pilots {
    margin-top: 70px;
  }
  .what-is-a-pilot {
    margin-bottom: 0.5%;
  }
  .emoji-partners {
    width: 100px;
    margin-bottom: 50px;
  }
  .pilot-content-left.pilots-info {
    display: block;
    width: 95%;
    margin-right: auto;
    margin-left: auto;
  }
  .paragraph-pilot {
    font-size: 16px;
  }
  .emoji-budget {
    width: 70px;
    margin-top: 0px;
    margin-bottom: 50px;
  }
  .image-14 {
    margin-left: 0px;
  }
  .image-14.kisii {
    margin-left: 0px;
  }
  .pilot-bg-image {
    display: none;
  }
  .pilot-bg-image.team {
    display: none;
  }
  .pilot-bg-image.kids {
    position: relative;
    display: none;
  }
  .link-pilots {
    width: 80%;
  }
  .emoji-pineapple {
    width: 70px;
  }
  .text-wrapper-pilot {
    width: 90%;
  }
  .pilots-explained-wrapper {
    width: 95%;
  }
  .hero-pilot-bg-image {
    display: none;
  }
  .hero-pilot-bg-image.team {
    display: none;
  }
  .hero-pilot-bg-image.kids {
    position: relative;
    display: none;
  }
  .emoji-pilot {
    width: 70px;
  }
  .emoji-pilot.intro-emoji {
    width: 50px;
    margin-top: 50px;
    margin-bottom: 0px;
  }
  .emoji-pilot.intro-emoji.knowmore {
    margin-bottom: 50px;
  }
  .pilot-block-2.block-jaden {
    padding-bottom: 0px;
  }
  .img-pilots-big {
    width: 95%;
    margin-bottom: 50px;
  }
  .img-pilots-big.jaden-visit {
    width: 95%;
  }
  .img-pilots-big.gif-small {
    width: 95%;
    margin-bottom: 50px;
  }
  .img-pilots-big.space-jaden.mobile-jaden {
    display: block;
    margin-bottom: 50px;
  }
}