

@import url('https://fonts.googleapis.com/css?family=Varela+Round');



body {
  font-family: 'Varela Round', sans-serif;

}

h1.marketplace-lander-content-title {
    font-family: 'Varela Round', sans-serif;
}

.new-listing-link {
    background-color: #87d9bf!important;
}

img.home-fluid-thumbnail-grid-author-avatar-image {
    border-radius: 100px!important;
}


a.home-categories-main {
    text-transform: inherit!important;
    text-transform: capitalize!important;
    background-color: #f5f5f5!important;
    padding: 10px!important;
    margin-top: 5px!important;
}

a.home-categories-sub {
    background-color: #e8e8e8!important;
    text-transform: capitalize!important;
    margin-top: 2px!important;
    padding: 5px 10px!important;
}

.toggle-menu {
    padding-right: 20px!important!important;
    background-color: #f58d8e!important;
}

.toggle-menu:first-child {
 {
    display: none!important;
  }

.toggle.with-borders.toggled {
    border-radius: 0 0 5px 5px!important;
    background: #f58d8e!important;
}
