

@import url('https://fonts.googleapis.com/css?family=Varela+Round');



body {
  font-family: 'Varela Round', sans-serif;

}

h1.marketplace-lander-content-title {
    font-family: 'Varela Round', sans-serif;
}

.new-listing-link {
    background-color: #87d9bf!important;
}

img.home-fluid-thumbnail-grid-author-avatar-image {
    border-radius: 100px!important;
}


a.home-categories-main {
    text-transform: inherit!important;
    text-transform: capitalize!important;
    background-color: #f5f5f5!important;
    padding: 10px!important;
    margin-top: 5px!important;
}

a.home-categories-sub {
    background-color: #e8e8e8!important;
    text-transform: capitalize!important;
    margin-top: 2px!important;
    padding: 5px 10px!important;
}

.toggle-menu {
    padding-right: 20px!important;
    background-color: #fff!important;
    border-right: 1px solid #f58d8e!important;
    border-left: 1px solid #f58d8e!important;
    border-bottom: 1px solid #f58d8e!important;
}

.toggle-menu:nth-child(1) {
 {  display: none!important;
  }

.toggle.with-borders.toggled {
    border-radius: 0 0 5px 5px!important;
    background: #f58d8e!important;
}

.toggle-header-container {
    background-color: #fff;
}

.header-toggle-menu-menu {
    background-color: #474747;
}

.toggle-header.toggled {
    color: #f58d8e;
}

.toggle.toggled {
    border-color: #474747;
}

.toggle.with-borders.toggled {
    background: #fff;
}

.icon-dropdown {
    color: #f58d8e;
}

.toggle.with-borders {
    background: #fff;
}

.toggle-menu a {
    color: #f58d8e;
}

.toggle.with-borders.toggled {
  border-right: 1px solid #f58d8e!important;
  border-left: 1px solid #f58d8e!important;
  border-top: 1px solid #f58d8e!important;
}

a.home-categories-sub {
    background-color: #fff!important;
    border-bottom: 1px solid #e0e0e0;
    text-transform: capitalize!important;
    margin-top: 2px!important;
    padding: 5px 10px!important;
}

b, strong {
    font-weight: bold;
    color: #f58d8e;
}

body {
  background: #f58d8e!important;
}
